.app {
    display: flex;
    width: 100%;
    height: 100vh;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    z-index: 1000;
    &_item {
        text-decoration: none;
        color: #292929;
        // text-shadow: 1px 1px #fff;
        text-align: center;
        width: 100%;
        padding: 4px 10px;
        margin-bottom: 10px;
        font-weight: bold;
        transition: .4s;
        border-bottom: 1px solid transparent;
        &.active {
            color: #8b1a1a;
            border-bottom: 1px solid #fff;
        }
        &:hover {
            color: #8b1a1a;
            border-bottom: 1px solid #fff;
        }
    }
    .login-link {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        padding: 20px 5px;
        opacity: 0.4;
        &:hover {
            opacity: 1;
        }
    }
}

.page {
    padding: 0px 100px 0 40px;
    flex-grow: 1;
    margin-left: 80px;
}

@media screen and (max-width: 500px) {
    .app {
        overflow: hidden;
    }
    .page {
        padding: 10px;
        margin: 0;
    }
    .navigation {
        // background: #ff000047;
        bottom: 0;
        right: 0;
        top: unset;
        left: 0;
        height: auto;
        flex-direction: row;
        &_item {
            padding: 20px 10px;
            margin: 0;
        }
        .login-link {
            display: none;
        }
    }
} 