.ka4an-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ka4an-mobile {
    display: none;
}

.svg-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    // height: 500px;
}
.svg-img {
    position: absolute;
    width: 100%;
    &.big {
        width: 100%;
    }
    &-4 {
        left: 300px;
    }
    &-5 {
        left: 200px;
    }
    &.king {
        bottom: 150px;
        path{
            stroke: #eff300;
            // fill: #f30000;
            animation: king 2s linear forwards;
        }
    } 
    path {
        stroke: #eff300;
        animation: dash 2s linear forwards;
    }
}

.svg-img-1, .svg-img-3, .svg-img-5 {
    path{
        stroke: #f30000;
    }
}

.svg-img-5, .svg-img-3 {
    path{
        stroke-dasharray: 10000;
        stroke-dashoffset: 2000;
        animation: svgk 3s linear forwards;
    }
}

.svg-img-2, .svg-img-4 {
    path{
        stroke-dasharray: 2000;
        stroke-dashoffset: 3000;
        animation: svga 2s linear forwards;
    }
}

.svg-img-1 {
    path{
        stroke-dasharray: 10000;
        stroke-dashoffset: 10000;
        animation: svgk 3s linear forwards;
    }
}

@keyframes svgk {
    0% {
        stroke-dashoffset: 10000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 3000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes king {
    0% {
        stroke-dashoffset: 3000;
        // fill: none;
    }
    80% {
        stroke-dashoffset: 0;
        fill: #eff30005;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #eff300b4;
    }
}
@keyframes svga {
    0% {
        stroke-dashoffset: 3000;
        // fill: none;
    }
    80% {
        stroke-dashoffset: 0;
        fill: #2afa0000;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #eff300b4;
    }
}

.ka4an {
    font-size: 10rem;
    text-transform: uppercase;
    padding: 10px;
    color: #3f51b5;
    letter-spacing: -12px;
    -webkit-transform: skew(0, -10deg);
    transform: skew(0, -10deg);
    text-shadow: 
        1px 0 0 #8bc34a, 
        0 1px 0 #00bcd4, 
        2px 1px 0 #8bc34a, 
        1px 2px 0 #00bcd4, 
        3px 2px 0 #8bc34a, 
        2px 3px 0 #00bcd4, 
        4px 3px 0 #8bc34a, 
        3px 4px 0 #00bcd4, 
        5px 4px 0 #8bc34a, 
        4px 5px 0 #00bcd4, 
        6px 5px 0 #8bc34a, 
        5px 6px 0 #00bcd4, 
        7px 6px 0 #8bc34a;
    transition: .3s;
    animation-name: hoverka4an;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    .dev {

        position: relative;
        text-shadow: 1px 0 0 #f3576c, 
                    0 1px 0 #fbe6d3, 
                    2px 1px 0 #f3576c, 
                    1px 2px 0 #fbe6d3, 
                    3px 2px 0 #f3576c, 
                    2px 3px 0 #fbe6d3, 
                    4px 3px 0 #f3576c, 
                    3px 4px 0 #fbe6d3, 
                    5px 4px 0 #f3576c, 
                    4px 5px 0 #fbe6d3, 
                    6px 5px 0 #f3576c, 
                    5px 6px 0 #fbe6d3, 
                    7px 6px 0 #f3576c;
    
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -50px;
            display: block;
            width: 100%;
            height: 130px;
            border: 20px solid #a9e4ff;
            z-index: -1;
            box-shadow: 0 0 13px 0 #a9e4ff;
            transition: .2s;
            animation-name: hoverafter;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        &:before {
            content: "dev";
        }
    }
    &:hover {
        transform: skew(0, -10deg) scale(1.4);
        & .dev {
            &:after {
                border: 20px solid #8bc34a;
                width: 281%;
            }
        }
    }
}
@keyframes hoverafter {
    0% {
        width: 100%;
    }
    20% {
        width: 100%;
        // width: 268%;
    }
    80% {
        width: 268%;
    }

    100% {
        width: 100%;
    }
}

@keyframes hoverka4an {
    0% {
        transform: skew(0, -10deg);
    }
    20% {
        // transform: skew(0, -10deg) scale(1.4);
        transform: skew(0, -10deg);
    }
    80% {
        transform: skew(0, -10deg) scale(1.4);
    }

    100% {
        transform: skew(0, -10deg);
    }
}

@media screen and (max-width: 500px) {
    .ka4an-wrapper {
        overflow: hidden;
    }
    .ka4an {
        display: none;
    }
    .ka4an-mobile {
        font-size: 100px;
        display: block;
        color: #3f51b5;
        -webkit-transform: skew(0, -10deg);
        transform: skew(0, -10deg);
        text-shadow: 1px 0 0 #f3576c, 
                    0 1px 0 #fbe6d3, 
                    2px 1px 0 #f3576c, 
                    1px 2px 0 #fbe6d3, 
                    3px 2px 0 #f3576c, 
                    2px 3px 0 #fbe6d3, 
                    4px 3px 0 #f3576c, 
                    3px 4px 0 #fbe6d3, 
                    5px 4px 0 #f3576c, 
                    4px 5px 0 #fbe6d3, 
                    6px 5px 0 #f3576c, 
                    5px 6px 0 #fbe6d3, 
                    7px 6px 0 #f3576c;
    }
} 