@font-face {
  font-family: "Deadpool";
  src: url("./static/Deadpool.ttf");
}
@font-face {
  font-family: "RogueHero";
  src: url("./static/RogueHero.otf");
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p, label, a {
  background: #fff;
}

label {
  display: inline-block;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;

  // font-family: 'Deadpool';
  font-family: 'RogueHero';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8b1a1a;
  // background-image: url('./static/asdasd.jpg');
  // background: linear-gradient( rgba(30, 26, 255, 0.63), rgba(255, 0, 0, 0.8) );
  // background: rgba(0, 135, 245, 0.63);
  color: #292929;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
}

.heading {
  position: fixed;
  display: flex;
  align-items: center;
  h1 {
    padding: 1px 5px;
    background: #fff;
  }
  .add-btn {
    font-size: 14px;
    padding: 5px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    margin: 0 20px;
    cursor: pointer;
    transition: .2s;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.wrapper {
  display: flex;
  margin-top: 100px;
  .poster {
    width: 30%;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    opacity: .4;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &-item {
    background: #fff;
    padding: 10px;
    margin: 10px;
    font-size: 80px;
  }
}

.content {
  span {
    text-transform: uppercase;
    font-weight: bold;
    &.red {
      color: #0eff00;
    }
    &.blue {
      color: #00abff;
    }
  }
  .aticle {
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 300px;
  &.full {
    width: 100%;
  }
  &.center {
    margin: 0 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .field {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
    width: 100%;
    label {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 10px;
    }
    input {
      padding: 10px 5px;
    }
    textarea, input {
      border: none;
      background: #36515c8a;
      outline: none;
      font-size: 20px;
      color: #fff;
      width: 100%;
      &:hover {
        background: #5d8da17d;
      }
      &:focus {
        background: #357a978a;
      }
    }
  }
}
button.btn {
  display: flex;
  align-items: center;
  background: #fff;
  background: transparent;
  border: 3px solid #02ff02;
  color: #02ff02;
  font-size: 22px;
  font-weight: bold;
  padding: 5px 30px;
  margin: 20px 0;
  cursor: pointer;
  transition: .3;
  border-radius: 3px;
  img {
    height: 30px;
    margin: 0 0 0 10px;
  }

  &:hover {
    background: #68fd68;
    color: #fff;
  }
  &:focus {
    background: #02ff02;
    color: #fff;
  }
}

.social {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &_list {
    display: flex;
  }
  &_item {
    background: #36515ce8;
    border-radius: 4px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      background: #36515c8a;
      img {
        width: 100%;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    &:hover {
      background: #5d8da17d;
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  .half {
    flex-basis: 50%;
    // flex-grow: 1;
  }
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #36515c8a;
  z-index: 300;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .form {
    min-width: 100%;
    .field {
      textarea {
        width: 100%;
      }
    }
  }
  .container {
    .half {
      flex-basis: 100%;
    }
  }
  .social {
    padding: 0 10px;
    &_item {
      width: 50px;
      height: 50px;
      a {
        padding: 5px;
      }
    }
  }
  .hero {
    &-item {
      font-size: 40px;
    }
  }
} 