.images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .pic {
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 300px;
        height: 300px;
        background: #36515c8a;
        opacity: .4;
        overflow: hidden;
        &:hover {
            opacity: 1;
            background: transparent;
        }
        img {
            width: auto;
        }
    }
}

@media screen and (max-width: 500px) {
    .images {
        justify-content: space-around;
        .pic {
            flex-basis: 50%;
            height: 150px;
        }
    }
} 